@page

@{
    ViewData["Title"] = "Thank you for your application";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Your application has been received. You will be subsequently contacted about the status of your application </br>
    </p>

</div>
