@page
@model CreateStateModel
@{
    ViewData["Title"] = "Create";
}


<h2>Create State</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.StateCode" class="control-label"></label>
                <input asp-for="Input.StateCode" class="form-control" />
                <span asp-validation-for="Input.StateCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.StateName" class="control-label"></label>
                <input asp-for="Input.StateName" class="form-control" />
                <span asp-validation-for="Input.StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}